/* regole generali */
:root {
    --primaryColor: #006cfa;
    --secondaryColor: #00e165;
}

.box {
    width: 100%;
    padding: 20px;

    background-color: var(--primaryColor);
    border: 1px solid white;

    color: white;
    text-align: center;
}

.nested {
    border: 1px solid var(--primaryColor);
    background-color: var(--secondaryColor);
}

#homeworks >.row,
#offset > .row {
    margin-bottom: 30px;
}

#homeworks > .row:last-child .box,
#offset .box {
    padding: 30.5px 0;  /* 20px + 10.5px (il font nella row precendete era alto 21px)*/
}